@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--cinzel);
}

:root{
    --bask: 'Libre Baskerville', serif;
    --lob: 'Lobster', cursive;
    --cinzel: 'Cinzel', serif;
}

header{
    background-color: rgba(15, 34, 58, 0.8);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgb(0 0 6);
    width: 100%;
    position: fixed;
    top: 0;
}

header h2{
    font-weight: 800;
    font-size: 60px;
    margin-left: 20px;
    color: whitesmoke ;
}

header h3{
    color: whitesmoke;
    /* text-decoration: overline; */

    position: relative; /** Le puse Relative para acomodar el h3 al lado del h2, ya que con space between me quedaban muy alejados */
    right: 570px;
    top: 15px;
}

ul{
    display: flex;
    list-style:none;
    padding-right: 10px;
}

li{
    margin: 0px 15px;
}

a{
    font-weight:600;
    padding: 5px 20px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
}

._a-nav:hover{
    color: goldenrod;
    transition: 0.5s;
}

main{
    background-color: #2B7882;  
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.div-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(15, 34, 58, 0.8);
    border-radius: 6px;
    padding: 20px;
}

.div-text h2{
    font-size: 35px;
    color:#BF7140 ;
}

.div-text p{
    color: #BF7140;
    max-width: 600px;
    font-weight: 500;
    font-size: 18px;
}

.div_buttons{
    display: flex;
    gap: 15px;
}

.button{
    border: 2px solid rgba(15, 34, 58, 0.8);
    padding: 15px 20px;
    font-weight: 800;
    border-radius: 5px;
}
.Proybutton{
    background-color: rgba(15, 34, 58, 0.8);
    color: goldenrod;
}

.Contbutton{
    color: whitesmoke;
}

img{
    width: 500px;
    height: 380px;
    border: 4px solid rgba(15, 34, 58, 0.8);
    border-radius: 8px;
    margin-top: 8px;
}

.section2{
    display: flex;
    justify-content: center;
}


.section2{
    /* background-color: blue; */
    padding: 20px 0;
}
.art-text{
    background-color: rgba(15, 34, 58, 0.8);
    padding: 20px;
    border-radius: 6px;
    color:#BF7140 ;
    
}

.art-text p{
    max-width: 1210px;
    font-weight: 500;
    font-size: 18px;
}



/** Practicando MQ */
@media (max-width: 575.98px){
    .hero{
        margin-top: 30px;
        /* background-color: salmon; */
        height: 100%;
        flex-direction: column;
        padding-left: 20px;
        
    }
    .div-text p{
        
    }
    header{
        width: 100%;
    }
    header h3{
        visibility: hidden;
        /* right: 100px; */
    }
    nav{
        /* display: block; */
        position: relative;
        right: 40pxgit ;
    }

    img{
        position: relative;
        width: 440px;
        bottom: 40px;
        right: 8px;
        
    }
    .div-text{
       /*  background-color: aqua; */

    }
}


