@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bask);
}

:root{
    --bask: 'Libre Baskerville', serif;
    --lob: 'Lobster', cursive;
    --cinzel: 'Cinzel', serif;
}

header{
    background-color: white;
    color: black;
    
    /* background-color: black;
    color: white; */
    
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    box-shadow: 5px 0 10px rgb(0 0 0);
}




header h2{
    font-family: var(--cinzel);
    font-weight: 800;
    font-size: 60px;
    margin-left: 20px;
}

ul{
    display: flex;
    list-style:none;
    padding-right: 10px;
}

li{
    margin: 0px 15px;
}

a{
    padding: 5px 20px;
    color: black;
    /* color: white; */
    text-decoration: none;
    font-size: 18px;
    display: block;
}

a:hover{
    background-color: gray;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
}



