@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    /* border: 1px solid red; */
}

body{
    background-color: #2B5C82;
}

:root{
    --font: 'Cinzel', serif;
    --blue: rgba(15, 34, 58, 0.8);
    --yellow: #B8953D;
}

.header{
    background-color: var(--blue);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgb(0 0 6);
}

.header h2{
    margin-left: 10px;
    color:whitesmoke;
    font-size:50px;
}

.contenedor-links{
    margin-right: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;}
a{ 
    font-weight: 600;
    color: whitesmoke;
    text-decoration: none;}

/**Terminado el Nav*/


.section-hero{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* height: 70vh; */
}

.div-text{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--blue);
    color: whitesmoke;
    gap: 30px;

}

.div-text p{
    width: 385px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
}

.div-text h2{
    text-align: center;
    color: var(--yellow);
}

.div-img{
    /* background-color: #994933; */
    display: flex;
    justify-content: center;
}

img{
    width: 80%;
    height: auto;
    border: 2px solid var(--blue);
    border-radius: 8px;
    
}

.div-buttons{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button{
    border-radius: 5px;
    padding: 10px;
    font-weight: 800;
}
.btn1{
    color: black;
    border: none;
    margin-right: 10px;
    background-color:#994933 ;
}

.btn2{
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 0px;
}

.section2{
    margin: 20px;
}

.art-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 34, 58, 0.8);
    padding: 20px;
    border-radius: 10px;
    color:whitesmoke;
    gap: 20px;
}

.art-text h2{
    color: var(--yellow);
}

.art-text p{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

@media (min-width:990px) {
    .section-hero{
        flex-direction: row;
        margin-top: 0;
        /* gap: 0px */
        height: 85vh;
        gap: 50px;
    }

    .div-text{
        display: flex;
        justify-content: center;
        width: 700px;
        height: 484px;
        gap: 35px;
    }

    .div-text h2{
        font-size: 40px;
    }

    .div-text p{
        width: 660px;
        font-size: 21px;
    }

    img{
        width: 100%;
    }

    .section2{
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .art-text{
        width: 1395px;
    }

    .button{
        display: flex;
        align-items: center;
        height: 4rem;
        margin-top: 20px;
        font-size: 21px;
    }
}


